@import "tailwindcss";

@theme {
    --font-playfair: var(--font-playfair);
    --font-montserrat: var(--font-montserrat);
    --font-roboto: var(--font-roboto);
    --font-urbanist: var(--font-urbanist);
    --font-noto: var(--font-noto);
    --font-noto-serif: var(--font-noto-serif);
}